#tourismeBody {
	background-color: $primary;
}

#tourismHeader {
	background-color: $primary;
    background-image: url("/assets/images/tourisme-orleans.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(70%);
    position: relative;
    top: -100px;
    box-shadow: 0px 9px 5px 1px rgba(0,0,0,0.31);

	#tourisme_image {
		z-index: 0;
		box-shadow: 0px 9px 5px 1px rgba(0,0,0,0.31);

		@media screen and (max-width: 992px) {
			top: 0px !important;
			height: 50vh;
			width: auto;
			background-repeat: no-repeat;
		}
	}

	#tourisme_logo {
		position: relative;
		z-index: 2;
		width: 25%;
		height: 50%;
		color: $white;
		background-color: #00000067;

		@media screen and (max-width: 992px) {
			width: 35%;
			height: 50%;
		}
	}

	@media screen and (max-width: 600px) {
		top: 0px;
        height: 50vh;
        background-position: center;
    }
}

#tourisme {
	position: relative;
	top: 100px;
	z-index: 3000 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	padding-top: 8px;
	padding-bottom: 150px;
	background-color: $primary;

	@media screen and (max-width: 992px) {
		#tutoMap {
			display: none;
		}
	}

	p {
		color: black;
		padding: 8px;
	}
	
	#map {
		box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.35);
		height: 700px;
		width: 80%;
		
		.leaflet-popup-content-wrapper {
			position: relative;
			z-index: 9000 !important;
		}

		.leaflet-popup-tip-container {
			overflow: auto !important;
		}

		.leaflet-popup {
			a {
				text-decoration: none;
				color: black;

				h2 {
					text-align: center;
					font-size: 27px;
					margin-bottom: 0;
				}
			}

			img {
				width: 100%;
			}
		}

		@media screen and (max-width: 992px) {
			display: none;			
		}
	}

	#cards {
		display: none;
		margin-top: 20px;

		.card {
			margin-bottom: 20px;
		}

		.card-title {
			color: black;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
		}

		@media screen and (max-width: 992px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;		
		}
	}
}
